<section id="backtests_index">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p id="notice"><%= notice %></p>

      <h1 class="backtest-header">Listing Backtests</h1>

      <p class="text-center"><%= link_to 'New Backtest', new_backtest_path %></p>

      <% if @backtests %>
        <% @backtests.each do |backtest| %>
          <%= render partial: "backtest", locals: { backtest: backtest} %>
        <% end %>
      <% end %>


    </div>
  </div>
</section>
