<section id="backtest_new">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="backtest-header">New Backtest</h1>

			<div class="well">
				<%= render 'form' %>
			</div>

			<%= link_to 'Back', backtests_path %>
		</div>
	</div>
</section>
